.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    display: flex;
    column-gap: 10px;
    margin-left: 10px;
    align-items: center;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
    column-gap: 10px;
}