
.container-form{
    overflow-y: auto;
}

@media (max-width: 930px){
    .btn-res{
        display: flex !important;
        flex-direction: column !important;
        row-gap: 0.5em;
        width: 100% !important;
    }
}

@media (max-width: 500px){
    .container-user{
        display: grid !important;
        grid-template-rows: auto 1fr !important;
        justify-content: normal !important;
        overflow-y: auto;
        height: auto !important;
    }

    .img-re{
        height: 10em !important;
        width: 100% !important;
        background-position-y: -20px !important;

    }

    .img-ab{
        width: 100px !important;
        top: 30% !important;
        left: 36% !important;
    }

    .container-form{
        width: auto !important;
        overflow-y: hidden;
    }

    .btn-res{
        display: flex !important;
        flex-direction: column !important;
        row-gap: 0.5em;
        width: 100% !important;
        padding-top: 20px;
        padding-bottom: 40px;
    }

}

@media (max-width: 300px){
    .container-user{
        display: grid !important;
        grid-template-rows: auto 1fr !important;
        justify-content: normal !important;
        overflow-y: auto;
        height: auto !important;
    }
    .img-re{
        height: 8em !important;
        width: 100% !important;
    }

    .img-ab{
        top: 30% !important;
        left: 35% !important;
        width: 80px !important;
    }

    .container-form{
        padding-left: 30px !important;
        padding-right: 30px !important;
        width: auto !important;
        overflow-y: hidden;
    }
}
